button.primary-btn {
  color: #53b778;
  border: 1px solid #53b778;
  border-radius: 3px;
  padding: 12px 17px;
  background-color: transparent;
  font-size: 13px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  letter-spacing: .05em;
}
button.primary-btn:hover {
  color: white;
  background-color: #53b778;
}
button.primary-btn:focus {
  outline: 0;
}
.simulator {
  margin: auto;
  margin-top: 70px;
  width: 490px;
  font-size: 13px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1em;
}
.simulator .days-graph {
  position: relative;
  display: block;
  text-align: center;
}
.simulator .days-graph .day {
  display: inline-block;
  padding: 20px;
  border-bottom: 1px solid;
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
  width: 66px;
}
.simulator .days-graph .day.selected {
  border-bottom-color: #ff3366;
}
.simulator .days-graph .day.selected:after {
  content: '';
  position: absolute;
  top: 60px;
  left: 18px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ff3366;
}
.simulator .days-graph .current-hour {
  display: inline-block;
  width: 70px;
  visibility: hidden;
  padding-top: 27px;
  color: #ff3366;
}
.simulator .days-graph .current-hour.visible {
  visibility: visible;
}
.simulator .students-graph {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 1px;
  padding-top: 30px;
  height: 250px;
  width: 100%;
  border-bottom: 1px solid black;
}
.simulator .students-graph .matriculation-fail-reference {
  background-color: #ff3366;
  color: white;
  position: absolute;
  top: 115px;
  left: -300px;
  width: 215px;
  height: 45px;
  padding-top: 10px;
  border-radius: 3px;
}
.simulator .students-graph .matriculation-fail-reference-by-student {
  background-color: #ff3366;
  color: white;
  position: absolute;
  top: 170px;
  left: -300px;
  width: 215px;
  height: 45px;
  padding-top: 10px;
  border-radius: 3px;
}
.simulator .students-graph .satisfied-students-reference {
  background-color: #53b778;
  color: white;
  position: absolute;
  top: 60px;
  left: -300px;
  width: 215px;
  height: 45px;
  padding-top: 10px;
  border-radius: 3px;
}
.simulator .students-graph .matriculation-info-reference {
  background-color: transparent;
  color: #072f38;
  position: absolute;
  top: -50px;
  left: -300px;
  width: 215px;
  height: 45px;
  border-radius: 3px;
  padding-top: 10px;
}
.simulator .students-graph .matriculation-info-reference .title {
  border-right: 1px solid #072f38;
}
.simulator .students-graph .matriculation-success-reference {
  background-color: #53b778;
  color: white;
  position: absolute;
  top: 5px;
  left: -300px;
  width: 215px;
  height: 45px;
  padding-top: 10px;
  border-radius: 3px;
}
.simulator .students-graph .title {
  width: 130px;
  display: inline-block;
  text-align: -webkit-right;
  margin-left: -14px;
  border-right: 1px solid white;
  padding-right: 3px;
}
.simulator .students-graph .value {
  display: inline-block;
  font-size: x-large;
}
.simulator .students-graph .students-per-day {
  margin-left: 2px;
  margin-right: 2px;
  width: 66px;
  display: inline-block;
  position: relative;
  height: 100%;
}
.simulator .students-graph .students-per-day .column-wrapper {
  position: absolute;
  bottom: 0;
  left: 2px;
  right: 2px;
  width: 66px;
}
.simulator .students-graph .students-per-day .column-wrapper .matriculation-fail {
  -webkit-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  transition: width 300ms ease-in-out, height 300ms ease-in-out;
  background-color: #ff3366;
}
.simulator .students-graph .students-per-day .column-wrapper .matriculation-success {
  -webkit-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  transition: width 300ms ease-in-out, height 300ms ease-in-out;
  background-color: #53b778;
}
.simulator .students-graph .students-per-day .column-wrapper .matriculation-conflict {
  -webkit-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  transition: width 300ms ease-in-out, height 300ms ease-in-out;
  background-color: #f0ad4e;
}
#studentsDetailsGraph {
  height: 170px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}
#studentsDetailsGraph #studentsUnmatriculatedGraph {
  width: 45%;
  display: inline-block;
}
#studentsDetailsGraph #arrowContainer {
  width: 4%;
  display: inline-block;
  position: relative;
}
#studentsDetailsGraph #arrowContainer .arrow-right {
  position: absolute;
  top: -244px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #B9C0C2;
}
#studentsDetailsGraph #studentsMatriculatedGraph {
  width: 45%;
  display: inline-block;
}
html,
body,
.main-view {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fafafa;
  color: #072f38;
  font-family: 'Open Sans', open-sans, sans-serif;
  font-size: 35px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}
html #aboutSection,
body #aboutSection,
.main-view #aboutSection {
  top: 50px;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 10000;
}
html .navbar.navbar-inverse.header.navbar-fixed-top,
body .navbar.navbar-inverse.header.navbar-fixed-top,
.main-view .navbar.navbar-inverse.header.navbar-fixed-top {
  color: white;
  background-color: #072f38;
}
html .home-main,
body .home-main,
.main-view .home-main {
  height: 100%;
  width: 100%;
}
html .home-main .home-top,
body .home-main .home-top,
.main-view .home-main .home-top {
  margin-right: 70px;
  float: right;
}
html .home-main .home-top h3,
body .home-main .home-top h3,
.main-view .home-main .home-top h3 {
  display: inline-block;
}
html .home-main .home-top button,
body .home-main .home-top button,
.main-view .home-main .home-top button {
  margin-top: 12px;
  display: block;
}
