<div class="home-main">
    <div class="home-top">
        <button class="primary-btn">Run simulation</button>
    </div>

    <div class="simulator">
        <div class="days-graph">
            <div ng-repeat="day in snapshot.days"
                 class="day"
                 ng-class="{selected: selected === day.title}">{{day.title}}</div>
        </div>
        <div class="students-graph">
            <div class="matriculation-success-reference">Successed matriculations</div>
            <div class="matriculation-fail-reference">Failed matriculations</div>
            <div class="matriculation-conflict-reference">Confliced matriculations</div>
            <div ng-repeat="day in snapshot.days"
                 class="students-per-day">
                 <div ng-attr-id="{{'#' + day.title + '-fail'}}" class="matriculation-fail"></div>
                 <div ng-attr-id="{{'#' + day.title + '-conflict'}}" class="matriculation-conflict"></div>
                 <div ng-attr-id="{{'#' + day.title + '-success'}}" class="matriculation-success"></div>
            </div>
        </div>
    </div>
</div>
