<div class="home-main">
    <div class="home-top">
        <button class="primary-btn"
                ng-click="startSimulation()">Empezar Simulación</button>
        <button class="primary-btn"
                ng-click="openConfigModal()">Configuración</button>
    </div>

    <div class="simulator">
        <div class="days-graph">
            <div ng-repeat="day in stats.days"
                 class="day"
                 ng-class="{selected: stats.currentDay === day.dayNumber}">{{getDayTitle(day.dayNumber)}}</div>
            <div class="current-hour"
                 ng-class="{visible: stats.currentDay === day.dayNumber}"
                 ng-repeat="day in stats.days">{{stats.currentHour}}:00</div>
        </div>
        <div class="students-graph">
            <div class="matriculation-info-reference">
                <div class="title">Total de alumnos</div>
                <div class="value">{{stats.totalStudents || 0}}</div>
            </div>
            <div class="matriculation-success-reference">
                <div class="title">Matriculaciones exitosas</div>
                <div class="value">{{stats.alumnsMatriculated || 0}}</div>
            </div>
            <div class="satisfied-students-reference">
                <div class="title">Alumnos satisfechos</div>
                <div class="value">{{stats.satisfiedStudentsAmount || 0}}</div>
            </div>
            <div class="matriculation-fail-reference">
                <div class="title">Timeouts</div>
                <div class="value">{{stats.totalsServerTimeouts || 0}}</div>
            </div>
            <div class="matriculation-fail-reference-by-student">
                <div class="title">Timeouts x alumno</div>
                <div class="value">{{stats.totalsServerTimeouts / stats.totalStudents | number:2 || 0}}</div>
            </div>
            <div ng-repeat="day in stats.days"
                 class="students-per-day">
                <div class="column-wrapper">
                    <div ng-attr-id="{{'#' + getDayTitle(day.dayNumber) + '-fail'}}" class="matriculation-fail"></div>
                    <div ng-attr-id="{{'#' + getDayTitle(day.dayNumber) + '-conflict'}}" class="matriculation-conflict"></div>
                    <div ng-attr-id="{{'#' + getDayTitle(day.dayNumber) + '-success'}}" class="matriculation-success"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="studentsDetailsGraph">
        <div id="studentsUnmatriculatedGraph"></div>
        <div id="arrowContainer" ng-if="stats.unmatriculatedAlumnsByPendingCourses">
            <div class="arrow-right"></div>
        </div>
        <div id="studentsMatriculatedGraph"></div>
    </div>
</div>
