.simulator {

  @totalWidth: 490px;

  margin: auto;
  margin-top: 40px;

  width: @totalWidth;
  font-size: 13px;
  font-family: brandon-grotesque,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1em;

  .days-graph {
    position: relative;
    display: block;
    text-align: center;

    .day {
        display: inline-block;
        padding: 20px;
        border-bottom: 1px solid;
        position: relative;

        margin-left: 2px;
        margin-right: 2px;
        width: @totalWidth / 7 - 4px;

        &.selected{

          border-bottom-color: @red;

          &:after {
            content: '';
            position: absolute;
            top: 60px;
            left: 18px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid @red;
          }
        }
    }
  }

  .students-graph {

    @max-height: 400px;

    position: relative;
    display: block;
    text-align: center;
    margin-top: 1px;
    padding-top: 30px;
    height: @max-height;
    width: 100%;

    @reference-top-base: 130px;
    @reference-left-base: -250px;

    @margin-reference-top: 10px;

    @reference-width: 160px;
    @reference-height: 40px;

    .matriculation-fail-reference {
      background-color: @red;
      color: white;
       position: absolute;
       top: @reference-top-base;
       left: @reference-left-base;
       width: @reference-width;
       height: @reference-height;
       padding-top: 7px;
    }

    .matriculation-conflict-reference {
      background-color: @yellow;
      color: white;
       position: absolute;
       top: @reference-top-base + @margin-reference-top + @reference-height;
       left: @reference-left-base;
       width: @reference-width;
       height: @reference-height;
       padding-top: 7px;
    }

    .matriculation-success-reference {
      background-color: @green;
      color: white;
       position: absolute;
       top: @reference-top-base + 2* @margin-reference-top + 2* @reference-height;
       left: @reference-left-base;
       width: @reference-width;
       height: @reference-height;
       padding-top: 7px;
    }

    .students-per-day {

      margin-left: 2px;
      margin-right: 2px;
      width: @totalWidth / 7 - 4px;
      display: inline-block;

      @animation-time: 300ms;

      .matriculation-fail {
        -webkit-transition:width @animation-time ease-in-out, height @animation-time ease-in-out;
        -moz-transition:width @animation-time ease-in-out, height @animation-time ease-in-out;
        -o-transition:width @animation-time ease-in-out, height @animation-time ease-in-out;
        transition:width @animation-time ease-in-out, height @animation-time ease-in-out;
        background-color: @red; //#D9534F
      }

      .matriculation-success {
        -webkit-transition:width @animation-time ease-in-out, height @animation-time ease-in-out;
        -moz-transition:width @animation-time ease-in-out, height @animation-time ease-in-out;
        -o-transition:width @animation-time ease-in-out, height @animation-time ease-in-out;
        transition:width @animation-time ease-in-out, height @animation-time ease-in-out;
        background-color: @green; //#26B178
      }

      .matriculation-conflict {
        -webkit-transition:width @animation-time ease-in-out, height @animation-time ease-in-out;
        -moz-transition:width @animation-time ease-in-out, height @animation-time ease-in-out;
        -o-transition:width @animation-time ease-in-out, height @animation-time ease-in-out;
        transition:width @animation-time ease-in-out, height @animation-time ease-in-out;
        background-color: @yellow;
      }
    }
  }
}
