.simulator {

  @totalWidth: 490px;

  margin: auto;
  margin-top: 70px;

  width: @totalWidth;
  font-size: 13px;
  font-family: brandon-grotesque,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1em;

  .days-graph {
    position: relative;
    display: block;
    text-align: center;

    .day {
        display: inline-block;
        padding: 20px;
        border-bottom: 1px solid;
        position: relative;

        margin-left: 2px;
        margin-right: 2px;
        width: @totalWidth / 7 - 4px;

        &.selected{

          border-bottom-color: @red;

          &:after {
            content: '';
            position: absolute;
            top: 60px;
            left: 18px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid @red;
          }
        }
    }

    .current-hour {
      display: inline-block;
      width: @totalWidth / 7;
      visibility: hidden;
      padding-top: 27px;
      color: @red;

      &.visible {
        visibility: visible;
      }
    }
  }

  .students-graph {

    @max-height: 250px;

    position: relative;
    display: block;
    text-align: center;
    margin-top: 1px;
    padding-top: 30px;
    height: @max-height;
    width: 100%;
    border-bottom: 1px solid black;

    @reference-top-base: -50px;
    @reference-left-base: -300px;

    @margin-reference-top: 10px;

    @reference-width: 215px;
    @reference-height: 45px;

    .matriculation-fail-reference {
      background-color: @red;
      color: white;
       position: absolute;
      top: @reference-top-base + 3* @margin-reference-top + 3* @reference-height;
       left: @reference-left-base;
       width: @reference-width;
       height: @reference-height;
       padding-top: 10px;
      border-radius: 3px;
    }

    .cirteria-reference {
      background-color: transparent;
      color: #072f38;
      position: absolute;
      top: 165px;
      left: 500px;
      width: 330px;
      border-radius: 3px;
      padding-top: 10px;

      .title {
        border-right: 1px solid @darkBlue;
        display: block;
      }

      .value {
        display: block;
        font-size: large;
        margin-top: 8px;
      }
    }

    .matriculation-fail-reference-by-student {
      background-color: @red;
      color: white;
      position: absolute;
      top: @reference-top-base + 4* @margin-reference-top + 4* @reference-height;
      left: @reference-left-base;
      width: @reference-width;
      height: @reference-height;
      padding-top: 10px;
      border-radius: 3px;
    }

    .satisfied-students-reference {
      background-color: @green;
      color: white;
      position: absolute;
      top: @reference-top-base + 2* @margin-reference-top + 2* @reference-height;
      left: @reference-left-base;
      width: @reference-width;
      height: @reference-height;
      padding-top: 10px;
      border-radius: 3px;
    }

    .matriculation-info-reference {
      background-color: transparent;
      color: @darkBlue;
       position: absolute;
      top: @reference-top-base;
       left: @reference-left-base;
       width: @reference-width;
       height: @reference-height;
      border-radius: 3px;
      padding-top: 10px;

      .title {
        border-right: 1px solid @darkBlue;
      }
    }

    .matriculation-success-reference {
      background-color: @green;
      color: white;
      position: absolute;
      top: @reference-top-base + @margin-reference-top + @reference-height;
      left: @reference-left-base;
      width: @reference-width;
      height: @reference-height;
      padding-top: 10px;
      border-radius: 3px;
    }

    .title {
      width: 130px;
      display: inline-block;
      text-align: -webkit-right;
      margin-left: -14px;
      border-right: 1px solid white;
      padding-right: 3px;
    }

    .value {
      display: inline-block;
      font-size: x-large;
    }

    .students-per-day {

      @intercolumns-padding: 2px;

      margin-left: @intercolumns-padding;
      margin-right: @intercolumns-padding;
      width: @totalWidth / 7 - 2 * @intercolumns-padding;
      display: inline-block;
      position: relative;
      height: 100%;

      @animation-time: 300ms;

      .column-wrapper {
        position: absolute;
        bottom: 0;
        left: @intercolumns-padding;
        right: @intercolumns-padding;
        width: @totalWidth / 7 - 2 * @intercolumns-padding;

        .matriculation-fail {
          -webkit-transition: width @animation-time ease-in-out, height @animation-time ease-in-out;
          -moz-transition: width @animation-time ease-in-out, height @animation-time ease-in-out;
          -o-transition: width @animation-time ease-in-out, height @animation-time ease-in-out;
          transition: width @animation-time ease-in-out, height @animation-time ease-in-out;
          background-color: @red; //#D9534F
        }

        .matriculation-success {
          -webkit-transition: width @animation-time ease-in-out, height @animation-time ease-in-out;
          -moz-transition: width @animation-time ease-in-out, height @animation-time ease-in-out;
          -o-transition: width @animation-time ease-in-out, height @animation-time ease-in-out;
          transition: width @animation-time ease-in-out, height @animation-time ease-in-out;
          background-color: @green; //#26B178
        }

        .matriculation-conflict {
          -webkit-transition: width @animation-time ease-in-out, height @animation-time ease-in-out;
          -moz-transition: width @animation-time ease-in-out, height @animation-time ease-in-out;
          -o-transition: width @animation-time ease-in-out, height @animation-time ease-in-out;
          transition: width @animation-time ease-in-out, height @animation-time ease-in-out;
          background-color: @yellow;
        }
      }
    }
  }

}

#studentsDetailsGraph {

  height: 170px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;

  #studentsUnmatriculatedGraph {
    width: 45%;
    display: inline-block;
  }

  #arrowContainer {
    width: 4%;
    display: inline-block;
    position: relative;

    .arrow-right {
      position: absolute;
      top: -244px;
      left: 0;

      width: 0;
      height: 0;

      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 40px solid #B9C0C2;
    }
  }

  #studentsMatriculatedGraph {
    width: 45%;
    display: inline-block;
  }
}
